@model ProEducationalM.Models.Seccion
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>

    <title>Create</title>

    @* Referencia a Bootstrap 4 - Las siguientes 4 líneas *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link href="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" />

    @* Referencia a JQuery *@
    <script src="~/Scripts/JQuery/jquery-3.5.1.min.js"></script>

    @* Las siguientes dos líneas referencian la barra de carga de la página *@
    <script src="~/Scripts/pace/pace.min.js"></script>
    <link href="~/Styles/Themes_pace/CornerIndicator.css" rel="stylesheet" />

    @* Referencia a CSS de la página *@
    <link href="~/Styles/ProEducationalMStyles.css" rel="stylesheet" type="text/css" />

    @* Control de los mensajes a usuario *@
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                $("#successMessage").remove();
            }, 3000);

            setTimeout(function () {
                $("#errorMessage").remove();
            }, 3000);
        });
    </script>

    @* Style CSS para el momento de hacer submit del form *@
    <style type="text/css">
        form.disabled {
            pointer-events: none;
            opacity: 0.7;
        }
    </style>

    @* Style CSS para limpiar cajas de texto con X incorporado *@
    <style type="text/css">
        /* Clearable text inputs */
        .clearable {
            background: #fff url('../../Images_Icons/mJotv.gif') no-repeat right -10px center;
            border: 1px solid #999;
            padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
            border-radius: 3px;
            transition: background 0.4s;
        }

            .clearable.x {
                background-position: right 5px center;
            }
            /* (jQ) Show icon */
            .clearable.onX {
                cursor: pointer;
            }
            /* (jQ) hover cursor style */
            .clearable::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        /* Remove IE default X */
    </style>

    <style type="text/css">
        .btnDeshabilitado {
            background-color: #BDBDBD;
        }
    </style>

</head>
<body>
    @* Content Start *@

    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "formCreateSeccion" }))
    {
        @Html.AntiForgeryToken()

        <div class="container">

            <div class="row d-none d-lg-block" id="fila_superior_1">
                <div class="col">
                </div>
            </div>

            <div class="row" id="contenedor">
                <div class="col">
                    <h1>Paralelos</h1>
                </div>
            </div>

            <div class="row d-none d-lg-block" id="fila_superior_2">
                <div class="col">
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-2  col-lg-1 col-xl-1">
                </div>
                <div class="col-12 col-sm-12 col-md-10 col-lg-11 col-xl-11 lead">
                    @Html.LabelFor(model => model.NombreSeccion, htmlAttributes: new { @class = "control-label LabelNombreSeccion" })
                </div>
            </div>

            <div class="row">
                <div class="col-12 col-sm-12 col-md-2  col-lg-1 col-xl-1">
                </div>
                <div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
                    @Html.EditorFor(model => model.NombreSeccion, new { htmlAttributes = new { @class = "form-control TxtNombreSeccion clearable", placeholder = "Ingrese un Paralelo", maxlength = "20" } })
                    @Html.ValidationMessageFor(model => model.NombreSeccion, "", new { @class = "text-danger" })
                </div>
                <div class="col-12 col-sm-12 col-md-2  col-lg-5 col-xl-5">
                </div>
            </div>

            <div>
                @Html.Hidden("ID", 0)
            </div>

            <div class="row d-none d-lg-block" id="fila_superior_2">
                <div class="col">
                </div>
            </div>

            <div class="row flex-column-reverse flex-md-row">
                <div class="col-12 col-sm-12 col-md-3 col-lg-5 col-xl-5">
                </div>
                <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                    <button id="ReturnButton" type="button" class="btn btn-link btn-block"
                            onclick="location.href='@Url.Action("Index","Seccion")'">
                        Volver
                    </button>
                </div>
                <div class="col-12 order-2 col-sm-12 order-2 col-md-3 order-2 col-lg-2 order-2 col-xl-2 order-2">
                    <button id="CancelButton" type="button" class="float-right btn btn-light btn-block">
                        Cancelar
                    </button>
                </div>
                <div class="col-12 order-first col-sm-12 order-first col-md-4 order-12 col-lg-3 order-12 col-xl-3 order-12">
                    <button id="SaveButton" type="submit" class="float-right btn btnDeshabilitado"
                            disabled>
                        Guardar
                    </button>
                </div>
            </div>

            <div class="row" id="successMessage">
                @if (TempData["Exito"] != null)
                {
                    <div class="col-12 col-xl-5"></div>
                    <div class="col-12 col-xl-7  alert alert-success">
                        @TempData["Exito"]
                    </div>
                }
            </div>

            <div class="row" id="errorMessage">
                @if (TempData["ErrorMensaje"] != null)
                {
                    <div class="col-12 col-xl-5"></div>
                    <div class="col-12 col-xl-7 alert alert-danger">
                        @TempData["ErrorMensaje"]
                    </div>
                }
            </div>

        </div>
    }

    @* End of content *@

    @* Para limpiar / asignar valor de input en carga de página *@
    <script type="text/javascript">
        $('input[type="text"]').val('');
    </script>

    @* Permite asignar / limpiar cajas de texto del formulario *@
    <script type="text/javascript">
        $(function () {
            $('#CancelButton').on('click', function (e) {
                if (e.which === 13 || e.type === 'click') {
                    //Limpia caja de texto
                    $('input[type="text"]').val('');
                    //Deshabilita botón Guardar
                    $('#SaveButton').attr('disabled', 'disabled');
                    $('#SaveButton').removeClass('btn-success');
                    $('#SaveButton').addClass('btnDeshabilitado');
                    //Pone foco
                    document.getElementById('NombreSeccion').focus();
                }
            });
        });
    </script>

    @* Función que impide que se vaya atrás con las teclas Backspace o Delete *@
    <script type="text/javascript">
        window.addEventListener('keydown', function (e) {
            var key = e.keyCode || e.which;
            if (key == 8 /*BACKSPACE*/ || key == 46/*DELETE*/) {
                var len = window.location.href.length;
                if (window.location.href[len - 1] != '#') window.location.href += "#";
            }
        }, false);
    </script>

    @* Función que impide volver atrás con el botón del navegador *@
    @* En Chrome funciona *@
    @* En Firefox funciona *@
    @* En Firefox Developer Edition funciona *@
    @* En Internet Explorer funciona *@
    @* En Edge funciona *@
    @* En Opera funciona *@
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () { history.go(1); };
    </script>

    @*Autocompletado deshabilitado*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#NombreSeccion').attr("autocomplete", "off");
        })
    </script>

    @* Función para habilitar deshabilitar botón submit guardar desde caja de texto
        También controla el comportamiento de la caja de texto de Paralelo *@
    <script type="text/javascript">

        $('#NombreSeccion').on('input change keyup paste click', function (e) {

            let cadena = document.getElementById("NombreSeccion").value;

            document.getElementById("NombreSeccion").value = TratamientoCaracteres(cadena);

            $(this).val($(this).val().trimLeft());

            $(this).val($(this).val().toUpperCase());

            var longitudTexto = $(this).val().length;

            if (longitudTexto > 20) {
                $(this).val($(this).val().substr(0, 20));
            }

            if ($('#NombreSeccion').val() != '') {

                if ($('form').hasClass('disabled')) {
                    $('#SaveButton').attr('disabled', 'disabled');
                    $('#SaveButton').removeClass('btn-success');
                    $('#SaveButton').addClass('btnDeshabilitado');
                }
                else {
                    $('#SaveButton').removeAttr('disabled');
                    $('#SaveButton').removeClass('btnDeshabilitado');
                    $('#SaveButton').addClass('btn-success');
                }

            }
            else {
                $('#SaveButton').attr('disabled', 'disabled');
                $('#SaveButton').removeClass('btn-success');
                $('#SaveButton').addClass('btnDeshabilitado');
            }

        });

    </script>

    @* Función que permite deshabilitar formulario al momento de hacer submit *@
    <script type="text/javascript">
        $('form').submit(function (e) {

            // if the form is disabled don't allow submit
            if ($(this).hasClass('disabled')) {
                e.preventDefault();
                return;
            }

            $(this).addClass('disabled');

            $('#SaveButton').addClass('btnDeshabilitado');

            $('#SaveButton').removeClass('btn-success');

        });
    </script>

    @* Permite poner x en el input para borrar el texto que se escribió
        Requiere agregar la clase CSS clearable de la cabecera al input
        que debe tener la x*@
    <script type="text/javascript">

        /**
        * Clearable text inputs
        */
        function tog(v) { return v ? 'addClass' : 'removeClass'; }
        $(document).on('input', '.clearable', function () {
            $(this)[tog(this.value)]('x');
        }).on('mousemove', '.x', function (e) {
            $(this)[tog(this.offsetWidth - 18 < e.clientX - this.getBoundingClientRect().left)]('onX');
        }).on('touchstart click', '.onX', function (ev) {
            ev.preventDefault();
            $(this).removeClass('x onX').val('').change();
            $('#SaveButton').attr('disabled', 'disabled');
            $('#SaveButton').removeClass('btn-success');
            $('#SaveButton').addClass('btnDeshabilitado');
        });

                // $('.clearable').trigger("input");
                // Uncomment the line above if you pre-fill values from LS or server

    </script>

    <script src="~/Scripts/SeccionJs/Seccion.js"></script>

    <script src="~/Scripts/Generales/Caracteres.js"></script>

    @* Referencia a Bootstrap 4 - Las siguientes 3 líneas *@
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/popper.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>
