@model IEnumerable<ProEducationalM.Models.Seccion>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>Index</title>

    @* Referencia a Bootstrap - Las siguientes 4 líneas *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta http-equiv="X-UA-Compatible" content="ie-edge" />
    <link href="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/css/bootstrap.min.css" rel="stylesheet" />

    @* Referencia a JQuery *@
    <script src="~/Scripts/JQuery/jquery-3.5.1.min.js"></script>

    @* Las siguientes dos líneas referencian la barra de carga de la página *@
    <script src="~/Scripts/pace/pace.min.js"></script>
    <link href="~/Styles/Themes_pace/CornerIndicator.css" rel="stylesheet" />

    @* Referencia a CSS de la página *@
    <link href="~/Styles/ProEducationalMStyles.css" rel="stylesheet" type="text/css" />

    @* Referencia a FontAwesome *@
    <script src="~/Scripts/FontAwesome/all.min.js"></script>

    @* Control de los mensajes a usuario *@
    <script type="text/javascript">
        $(document).ready(function () {
            setTimeout(function () {
                //$(".divMensaje").fadeOut(1500);
                $("#successMessage").remove();
            }, 3000);

            setTimeout(function () {
                //$(".divMensaje").fadeOut(1500);
                $("#errorMessage").remove();
            }, 3000);

            //setTimeout(function () {
            //    $(".content2").fadeIn(1500);
            //}, 6000);
        });
    </script>

    @* Style CSS para el momento de hacer submit del form *@
    <style type="text/css">
        form.disabled {
            pointer-events: none;
            opacity: 0.7;
        }
    </style>

    @* Style CSS para limpiar cajas de texto con X incorporado *@
    <style type="text/css">
        /* Clearable text inputs */
        .clearable {
            background: #fff url('../../Images_Icons/mJotv.gif') no-repeat right -10px center;
            border: 1px solid #999;
            padding: 3px 18px 3px 4px; /* Use the same right padding (18) in jQ! */
            border-radius: 3px;
            transition: background 0.4s;
        }

            .clearable.x {
                background-position: right 5px center;
            }
            /* (jQ) Show icon */
            .clearable.onX {
                cursor: pointer;
            }
            /* (jQ) hover cursor style */
            .clearable::-ms-clear {
                display: none;
                width: 0;
                height: 0;
            }
        /* Remove IE default X */
    </style>

    <style type="text/css">
        .btnDeshabilitado {
            background-color: #BDBDBD;
        }
    </style>

    @{
        TempData.Keep("ultimaPagina");
    }

    <style type="text/css">
        .blue {
            color: blue;
        }
    </style>

</head>
<body>
    @using (Html.BeginForm(null, null, FormMethod.Get, new { id = "formIndexSeccion" }))
    {

    <div class="container">

        <div class="row d-none d-lg-block" id="fila_superior_1">
            <div class="col">
            </div>
        </div>

        <div class="row" id="contenedor">
            <div class="col">
                <h1>Paralelos</h1>
            </div>
        </div>

        <div class="row d-none d-lg-block" id="fila_superior_2">
            <div class="col">
            </div>
        </div>

        <p>@Html.ActionLink("Create New", "Create")</p>

        <div class="row">
            <div class="col">
                @Html.TextBox("textBuscar", null, new { placeholder = "Ingrese su búsqueda", @class = "form-control" })
            </div>
        </div>

        <button id="SearchButton" name="button" value="SearchButton" type="button"
                class="btn btn-primary"
                onclick="changeHref()">
            Buscar
        </button>

        @*onclick="location.href='@Url.Action("Index", "Seccion")?busqueda=' + $('#textBuscar').val()">*@

        <div class="row">

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="UFirstPage" name="button" value="UFirstPage" type="submit" class="btn btn-primary">
                    Primera
                </button>
            </div>

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="UPreviousPage" name="button" value="UPreviousPage" type="submit" class="btn btn-primary">
                    << Anterior
                </button>
            </div>

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="UNextPage" name="button" value="UNextPage" type="submit" class="btn btn-primary">
                    Siguiente >>
                </button>
            </div>
            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="ULastPage" name="button" value="ULastPage" type="submit" class="btn btn-primary">
                    Última
                </button>
            </div>

        </div>

        <div class="row">
            <div class="col-3">@Html.Label("totalRegistros", "Total de registros: " + TempData["countSecciones"].ToString())</div>
            <div class="col-3">@Html.Label("paginaActual", "Página actual: " + TempData["paginaActual"].ToString())</div>
            <div class="col-3">@Html.Label("ultimaPagina", "Última página: " + TempData["ultimaPagina"].ToString())</div>
            @*<div class="col-3">@Html.Label("maximoPagina", "Registros por página : " + TempData["maximoPagina"].ToString())</div>*@
            <div class="col-3">
                @*<label>
                    Registros por página: <input id="maximoPagina" value="@TempData["maximoPagina"].ToString()"
                                                 placeholder="Predeterminado: 5">
                </label>*@
                <label>
                    Registros por página: @Html.DropDownList("maximoPagina", new List<SelectListItem>
{
//new SelectListItem() {Text = Session["cantRegpagSeccion"].ToString(),Value= Session["cantRegpagSeccion"].ToString(),Selected = true},
new SelectListItem() {Text = "3",Value="3"},
new SelectListItem() {Text = "5", Value= "5"},
new SelectListItem() {Text = "10", Value = "10"},
new SelectListItem() {Text = "15", Value = "15"},
new SelectListItem() {Text = "20", Value = "20"},
new SelectListItem() {Text = "30", Value = "30"},
new SelectListItem() {Text = "50", Value = "50"},
new SelectListItem() {Text = "100", Value = "100"}
}, new { @class = "form-control", onchange = "this.form.submit();" })
                </label>
            </div>
        </div>

        <table class="table table-bordered">
            <tr>
                <th>
                    @*@Html.DisplayNameFor(model => model.NombreSeccion)*@
                    <a href="@Url.Action("Index", new { ColumnaSeccionOrden = Session["ColumnSeccionIndexSeccionOrder"].ToString() })">
                        <span>@Html.DisplayNameFor(model => model.NombreSeccion)</span>
                        @{
                            if (Session["ColumnSeccionIndexSeccionOrder"].ToString() == "ASC")
                            {
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                            }
                            else if (Session["ColumnSeccionIndexSeccionOrder"].ToString() == "DESC")
                            {
                                <i class="fa fa-caret-down" aria-hidden="true"></i>
                            }
                            else
                            {
                                <i class="fa fa-caret-up" aria-hidden="true"></i>
                            }
                        }
                    </a>
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.NombreSeccion)
                    </td>
                </tr>
            }
        </table>

        <div class="row">
            <div class="col-3">@Html.Label("totalRegistros", "Total de registros: " + TempData["countSecciones"].ToString())</div>
            <div class="col-3">@Html.Label("paginaActual", "Página actual: " + TempData["paginaActual"].ToString())</div>
            <div class="col-3">@Html.Label("ultimaPagina", "Última página: " + TempData["ultimaPagina"].ToString())</div>
            <div class="col-3">@Html.Label("LabelmaximoPagina", "Registros por página : " + TempData["maximoPagina"].ToString())</div>
        </div>

        <div class="row">

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="FirstPage" name="button" value="FirstPage" type="submit" class="btn btn-primary">
                    Primera
                </button>
            </div>

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="PreviousPage" name="button" value="PreviousPage" type="submit" class="btn btn-primary">
                    << Anterior
                </button>
            </div>

            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="NextPage" name="button" value="NextPage" type="submit" class="btn btn-primary">
                    Siguiente >>
                </button>
            </div>
            <div class="col-12 order-last col-sm-12 order-last col-md-2 order-1 col-lg-2 order-1 col-xl-2 order-1">
                <button id="LastPage" name="button" value="LastPage" type="submit" class="btn btn-primary">
                    Última
                </button>
            </div>

        </div>

    </div>

    }

    @* Función que impide que se vaya atrás con las teclas Backspace o Delete *@
    <script type="text/javascript">
        window.addEventListener('keydown', function (e) {
            var key = e.keyCode || e.which;
            if (key == 8 /*BACKSPACE*/ || key == 46/*DELETE*/) {
                var len = window.location.href.length;
                if (window.location.href[len - 1] != '#') window.location.href += "#";
            }
        }, false);
    </script>

    @* Función que impide volver atrás con el botón del navegador *@
    @* En Chrome funciona *@
    @* En Firefox funciona *@
    @* En Firefox Developer Edition funciona *@
    @* En Internet Explorer funciona *@
    @* En Edge funciona *@
    @* En Opera funciona *@
    <script type="text/javascript">
        history.pushState(null, null, location.href);
        history.back();
        history.forward();
        window.onpopstate = function () { history.go(1); };
    </script>

    @*Autocompletado deshabilitado*@
    <script type="text/javascript">
        $(document).ready(function () {
            $('#maximoPagina').attr("autocomplete", "off");
        })
    </script>

    <script type="text/javascript">

        @*console.log('Actual ' + '@(TempData["paginaActual"])');
        console.log('Ultima ' + '@(TempData["ultimaPagina"])');*@

        document.getElementById("maximoPagina").value = @Session["cantRegpagSeccion"];

        var buttonLastPage = document.getElementById('LastPage');
        var buttonNextPage = document.getElementById('NextPage');
        var buttonFirstPage = document.getElementById('FirstPage');
        var buttonPreviousPage = document.getElementById('PreviousPage');
        var buttonULastPage = document.getElementById('ULastPage');
        var buttonUNextPage = document.getElementById('UNextPage');
        var buttonUFirstPage = document.getElementById('UFirstPage');
        var buttonUPreviousPage = document.getElementById('UPreviousPage');

        //debugger;

        if (('@(TempData["countSecciones"])' == '0')) {

            console.log('entró en CERO');

            buttonFirstPage.disabled = true;
            buttonNextPage.disabled = true;
            buttonPreviousPage.disabled = true;
            buttonLastPage.disabled = true;

            buttonUFirstPage.disabled = true;
            buttonUNextPage.disabled = true;
            buttonUPreviousPage.disabled = true;
            buttonULastPage.disabled = true;

        }
        else if ('@(TempData["paginaActual"])' == '@(TempData["ultimaPagina"])' && @(Convert.ToInt32(TempData["countSecciones"])) <= @(Convert.ToInt32(TempData["maximoPagina"]))) {

            console.log('entró cuando la primera y última página es igual y la cantidad de registros es menor o igual a la cantidad de registros máximos por página');

                buttonFirstPage.disabled = true;
                buttonNextPage.disabled = true;
                buttonPreviousPage.disabled = true;
            buttonLastPage.disabled = true;

            buttonUFirstPage.disabled = true;
            buttonUNextPage.disabled = true;
            buttonUPreviousPage.disabled = true;
            buttonULastPage.disabled = true;

            }
        else if ('@(TempData["paginaActual"])' == '@(TempData["ultimaPagina"])') {

            console.log('Entró cuando la página última y actual son iguales');

            buttonLastPage.disabled = true;
            buttonNextPage.disabled = true;

            buttonFirstPage.disabled = false;
            buttonPreviousPage.disabled = false;

            buttonULastPage.disabled = true;
            buttonUNextPage.disabled = true;

            buttonUFirstPage.disabled = false;
            buttonUPreviousPage.disabled = false;

        }
        else if ('@(TempData["paginaActual"])' == '1') {

            console.log('Entró cuando la página actual es 1');

            buttonLastPage.disabled = false;
            buttonNextPage.disabled = false;

            buttonFirstPage.disabled = true;
            buttonPreviousPage.disabled = true;

            buttonULastPage.disabled = false;
            buttonUNextPage.disabled = false;

            buttonUFirstPage.disabled = true;
            buttonUPreviousPage.disabled = true;

        }
        else {

            console.log('entró en el else');

            buttonLastPage.disabled = false;
            buttonNextPage.disabled = false;

            buttonFirstPage.disabled = false;
            buttonPreviousPage.disabled = false;

            buttonULastPage.disabled = false;
            buttonUNextPage.disabled = false;

            buttonUFirstPage.disabled = false;
            buttonUPreviousPage.disabled = false;

        }

    </script>

    @* Paso de información al controlador del cuadro de búsqueda *@
    <script type="text/javascript">

        function changeHref(){
            var url = '@Url.Action("Index", "Seccion")';
            var txtVal = $('#textBuscar').val();
            window.location.href = url + '/?busqueda=' + txtVal;
   }

    </script>

    @* Referencia a Bootstrap - Las siguientes 3 líneas *@
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/jquery-3.5.1.slim.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/popper.min.js"></script>
    <script src="~/Scripts/Bootstrap/bootstrap-4.5.0-dist/js/bootstrap.min.js"></script>
</body>
</html>
